@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0f1016;
  --foreground: #ffffff;
}

body {
  color: var(--foreground);
  background: var(--background);
  background-image:
    radial-gradient(circle at 15% 50%, rgba(188, 19, 254, 0.15) 0%, transparent 25%),
    radial-gradient(circle at 85% 30%, rgba(0, 243, 255, 0.15) 0%, transparent 25%);
  min-height: 100vh;
}